.pastor-greeting-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  max-width: 900px;
  max-height: 900px;
}

/* 모바일 화면 (768px 이하) */
@media (max-width: 768px) {
  .pastor-greeting-image {
    width: 70vw;
    height: 70vh;
    object-fit: conver;
    object-position: center;
    max-width: 600px;
    max-height: 600px;
  }
} 